# Importing pandas and numpy

In [1]:
import pandas as pd
import numpy as np

# "StudentsPerformance" datafile loaded

In [2]:
df = pd.read_csv("StudentsPerformance.csv")

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
#Checking For null value

In [5]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [6]:
#No null values Found

In [7]:
#Displaying Basic Information of the data (Min, Max, Mean and Standard Deviation)

In [8]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [9]:
#Checking the values of Race/Ethnicity

In [11]:
df["race/ethnicity"].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [12]:
#Mapping the values of race/ethnicity

In [13]:
race = {'group B':2, 'group C':3, 'group A':1, 'group D':4, 'group E':5}
df['race/ethnicity_map']=df['race/ethnicity'].map(race)

In [14]:
df['race/ethnicity_map'].head()

0    2
1    3
2    2
3    1
4    3
Name: race/ethnicity_map, dtype: int64

In [15]:
#checking Values of parental level of education

In [16]:
df['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [17]:
#Mapping the values of parental level of education

In [18]:
lvlofedu = {"bachelor's degree":1, 'some college':2, "master's degree":3,
       "associate's degree":4, 'high school':5, 'some high school':6}

In [21]:
df['parental lvl of education_map']= df['parental level of education'].map(lvlofedu)

In [22]:
df['parental lvl of education_map'].head()

0    1
1    2
2    3
3    4
4    2
Name: parental lvl of education_map, dtype: int64

In [23]:
#CHecking Values of lunch

In [27]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

In [28]:
#Mapping the values of lunch

In [29]:
elelunch = {'standard':1, 'free/reduced':2}

In [30]:
df['lunch_map'] = df['lunch'].map(elelunch)

In [31]:
df['lunch_map'].head()

0    1
1    1
2    1
3    2
4    1
Name: lunch_map, dtype: int64

In [32]:
#Checking values of test preparation course

In [33]:
df['test preparation course'].unique()

array(['none', 'completed'], dtype=object)

In [34]:
#Mapping values of test preparation course

In [35]:
testcourse = {'none':1, 'completed':2}

In [36]:
df['test preparation course_map']= df['test preparation course'].map(testcourse)

In [37]:
df['test preparation course_map'].head()

0    1
1    2
2    1
3    1
4    1
Name: test preparation course_map, dtype: int64