In [1]:
## Importing necessary library

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split as tt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [3]:
## Loading the clean Datafile

In [4]:
df = pd.read_csv('StudentsPerformance_clean.csv')

In [5]:
df.head()

,Unnamed: 0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_map,...,gender_map,total_score,pass/fail,percentage,grade,math_passfail,reading_passfail,writing_passfail,pass/fail_map,grade_map
0,0,female,group B,bachelor's degree,standard,none,72,72,74,2,...,1,218,Pass,72.666667,First,1,1,1,1,2
1,1,female,group C,some college,standard,completed,69,90,88,3,...,1,247,Pass,82.333333,Distinction,1,1,1,1,1
2,2,female,group B,master's degree,standard,none,90,95,93,2,...,1,278,Pass,92.666667,Distinction,1,1,1,1,1
3,3,male,group A,associate's degree,free/reduced,none,47,57,44,1,...,2,148,Pass,49.333333,Second,1,1,1,1,3
4,4,male,group C,some college,standard,none,76,78,75,3,...,2,229,Pass,76.333333,First,1,1,1,1,2

In [6]:
df.columns

Index(['Unnamed: 0', 'gender', 'race/ethnicity', 'parental level of education',
       'lunch', 'test preparation course', 'math score', 'reading score',
       'writing score', 'race/ethnicity_map', 'parental lvl of education_map',
       'lunch_map', 'test preparation course_map', 'gender_map', 'total_score',
       'pass/fail', 'percentage', 'grade', 'math_passfail', 'reading_passfail',
       'writing_passfail', 'pass/fail_map', 'grade_map'],
      dtype='object')

In [7]:
#Features:
X= df[['math score', 'reading score','writing score','gender_map','race/ethnicity_map','parental lvl of education_map','lunch_map', 'test preparation course_map']]
#Target
y=df['gender_map']

In [8]:
## Creating Scalar model

In [9]:
scaler = StandardScaler()

In [13]:
transformedx = scaler.fit_transform(X)

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [15]:
X_train, X_test, y_train, y_test=tt(transformedx,y,test_size=0.2,random_state=40)

In [16]:
## Creating KNN Model

In [17]:
neighbor = KNeighborsClassifier(n_neighbors=2)

In [19]:
neighbor.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=2, p=2,
           weights='uniform')

In [20]:
neighbor.score(X_test,y_test)

1.0

In [21]:
predict = neighbor.predict(X_test)
predict

array([2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 2, 2, 2, 1, 2, 1, 2, 1, 2, 1,
       2, 2, 2, 1, 2, 1, 2, 1, 2, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 1, 1, 2,
       1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 1, 1, 2, 2, 2, 2, 1, 2, 2,
       2, 2, 1, 1, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 2, 2, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 2, 1,
       1, 1, 2, 1, 2, 1, 2, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2, 2,
       2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 2, 1, 2, 2,
       1, 1, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 2,
       1, 1], dtype=int64)