# Importing pandas and numpy

In [3]:
import pandas as pd
import numpy as np

# "StudentsPerformance" datafile loaded

In [4]:
df = pd.read_csv("StudentsPerformance.csv")

In [5]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Checking For null value

In [7]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

# No null values Found


# Displaying Basic Information of the data (Min, Max, Mean and Standard Deviation)

In [10]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

## Checking Values of gender column

In [12]:
df["gender"].unique()

array(['female', 'male'], dtype=object)

## Mapping the values of Gender

In [37]:
gend = {'female':1, 'male':2}

In [38]:
df['gender_map'] = df['gender'].map(gend)

In [39]:
df['gender_map'].head()

0    1
1    1
2    1
3    2
4    2
Name: gender_map, dtype: int64

## Checking the values of Race/Ethnicity

In [14]:
df["race/ethnicity"].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

## Mapping the values of race/ethnicity

In [16]:
race = {'group B':2, 'group C':3, 'group A':1, 'group D':4, 'group E':5}
df['race/ethnicity_map']=df['race/ethnicity'].map(race)

In [17]:
df['race/ethnicity_map'].head()

0    2
1    3
2    2
3    1
4    3
Name: race/ethnicity_map, dtype: int64

## Checking Values of parental level of education

In [19]:
df['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

## Mapping the values of parental level of education

In [21]:
lvlofedu = {"bachelor's degree":1, 'some college':2, "master's degree":3,
       "associate's degree":4, 'high school':5, 'some high school':6}

In [22]:
df['parental lvl of education_map']= df['parental level of education'].map(lvlofedu)

In [23]:
df['parental lvl of education_map'].head()

0    1
1    2
2    3
3    4
4    2
Name: parental lvl of education_map, dtype: int64

## Checking Values of lunch

In [25]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

## Mapping the values of lunch

In [27]:
elelunch = {'standard':1, 'free/reduced':2}

In [28]:
df['lunch_map'] = df['lunch'].map(elelunch)

In [29]:
df['lunch_map'].head()

0    1
1    1
2    1
3    2
4    1
Name: lunch_map, dtype: int64

## Checking values of test preparation course

In [31]:
df['test preparation course'].unique()

array(['none', 'completed'], dtype=object)

## Mapping values of test preparation course

In [33]:
testcourse = {'none':1, 'completed':2}

In [34]:
df['test preparation course_map']= df['test preparation course'].map(testcourse)

In [35]:
df['test preparation course_map'].head()

0    1
1    2
2    1
3    1
4    1
Name: test preparation course_map, dtype: int64

## Calculation of total Score

In [41]:
df['total_score'] = df['math score'] + df['reading score'] + df['writing score']

In [43]:
df['total_score'].head()

0    218
1    247
2    278
3    148
4    229
Name: total_score, dtype: int64

## Checking pass/fail of students and inserting result in new column

In [47]:
df['pass/fail'] = np.where((df['math score'] <40) | (df['reading score']<40) | (df['writing score']<40), 'Fail', 'Pass')

In [49]:
df['pass/fail'].head()

0    Pass
1    Pass
2    Pass
3    Pass
4    Pass
Name: pass/fail, dtype: object

## Grading students and inserting in new column

# Conditions:(In percentage)
Greater than 80 = Distinction, 
60 to 79 = First Division, 
40 to 59 = Second Division,

In [52]:
df['percentage'] = ((df['math score'] + df['reading score'] + df['writing score'])/300)*100

In [54]:
df['percentage'].head()

0    72.666667
1    82.333333
2    92.666667
3    49.333333
4    76.333333
Name: percentage, dtype: float64

In [82]:
df['grade']=np.where(((((df['math score']+df['reading score']+df['writing score'])/300)*100)>=80), 'Distinction',
(np.where(((((df['math score']+df['reading score']+df['writing score'])/300)*100)>=60), 'First', 
(np.where((df['math score']<40) | (df['reading score']<40) | (df['writing score']<40), 'Fail','Second')))))

In [83]:
df['grade'].head()

0          First
1    Distinction
2    Distinction
3         Second
4          First
Name: grade, dtype: object

# Separating the pass or fail or each subject of students

# Condition 
## Pass : 1
## Fail: 0

In [86]:
df['math_passfail'] = np.where(df['math score']<40, 0, 1)

In [87]:
df['reading_passfail'] = np.where(df['reading score']<40, 0, 1)

In [88]:
df['writing_passfail'] = np.where(df['writing score']<40, 0, 1)

In [96]:
df[['math_passfail', 'reading_passfail', 'writing_passfail']].head(10)

   math_passfail  reading_passfail  writing_passfail
0              1                 1                 1
1              1                 1                 1
2              1                 1                 1
3              1                 1                 1
4              1                 1                 1
5              1                 1                 1
6              1                 1                 1
7              1                 1                 0
8              1                 1                 1
9              0                 1                 1

## Displaying new columns that were modified

In [98]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score', 'race/ethnicity_map', 'parental lvl of education_map',
       'lunch_map', 'test preparation course_map', 'gender_map', 'total_score',
       'pass/fail', 'percentage', 'grade', 'math_passfail', 'reading_passfail',
       'writing_passfail'],
      dtype='object')

# Mapping the values of new columns

## Mapping the values of pass/fail

In [101]:
df['pass/fail'].unique()

array(['Pass', 'Fail'], dtype=object)

In [102]:
pass_fail = {'Pass':1, 'Fail':0}

In [103]:
df['pass/fail_map']= df['pass/fail'].map(pass_fail)

In [104]:
df['pass/fail_map'].head()

0    1
1    1
2    1
3    1
4    1
Name: pass/fail_map, dtype: int64

## Mapping the values of grade column

In [106]:
df['grade'].unique()

array(['First', 'Distinction', 'Second', 'Fail'], dtype=object)

In [107]:
grades = {'Distinction':1,'First':2,'Second':3, 'Fail':0}

In [108]:
df['grade_map']=df['grade'].map(grades)

In [109]:
df['grade_map'].head()

0    2
1    1
2    1
3    3
4    2
Name: grade_map, dtype: int64

## Saving the cleaned Datafile

In [111]:
df.to_csv('StudentsPerformance_Clean.csv')

In [112]:
df.head(20)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_map,parental lvl of education_map,...,gender_map,total_score,pass/fail,percentage,grade,math_passfail,reading_passfail,writing_passfail,pass/fail_map,grade_map
0,female,group B,bachelor's degree,standard,none,72,72,74,2,1,...,1,218,Pass,72.666667,First,1,1,1,1,2
1,female,group C,some college,standard,completed,69,90,88,3,2,...,1,247,Pass,82.333333,Distinction,1,1,1,1,1
2,female,group B,master's degree,standard,none,90,95,93,2,3,...,1,278,Pass,92.666667,Distinction,1,1,1,1,1
3,male,group A,associate's degree,free/reduced,none,47,57,44,1,4,...,2,148,Pass,49.333333,Second,1,1,1,1,3
4,male,group C,some college,standard,none,76,78,75,3,2,...,2,229,Pass,76.333333,First,1,1,1,1,2
5,female,group B,associate's degree,standard,none,71,83,78,2,4,...,1,232,Pass,77.333333,First,1,1,1,1,2
6,female,group B,some college,standard,completed,88,95,92,2,2,...,1,275,Pass,91.666667,Distinction,1,1,1,1,1
7,male,group B,some college,free/reduced,none,40,43,39,2,2,...,2,122,Fail,40.666667,Fail,1,1,0,0,0
8,male,group D,high school,free/reduced,completed,64,64,67,4,5,...,2,195,Pass,65.000000,First,1,1,1,1,2
9,female,group B,high school,free/reduced,none,38,60,50,2,5,...,1,148,Fail,49.333333,Fail,0,1,1,0,0
10,male,group C,associate's degree,standard,none,58,54,52,3,4,...,2,164,Pass,54.666667,Second,1,1,1,1,3
11,male,group D,associate's degree,standard,none,40,52,43,4,4,...,2,135,Pass,45.000000,Second,1,1,1,1,3
12,female,group B,high school,standard,none,65,81,73,2,5,...,1,219,Pass,73.000000,First,1,1,1,1,2
13,male,group A,some college,standard,completed,78,72,70,1,2,...,2,220,Pass,73.333333,First,1,1,1,1,2
14,female,group A,master's degree,standard,none,50,53,58,1,3,...,1,161,Pass,53.666667,Second,1,1,1,1,3
15,female,group C,some high school,standard,none,69,75,78,3,6,...,1,222,Pass,74.000000,First,1,1,1,1,2
16,male,group C,high school,standard,none,88,89,86,3,5,...,2,263,Pass,87.666667,Distinction,1,1,1,1,1
17,female,group B,some high school,free/reduced,none,18,32,28,2,6,...,1,78,Fail,26.000000,Fail,0,0,0,0,0
18,male,group C,master's degree,free/reduced,completed,46,42,46,3,3,...,2,134,Pass,44.666667,Second,1,1,1,1,3
19,female,group C,associate's degree,free/reduced,none,54,58,61,3,4,...,1,173,Pass,57.666667,Second,1,1,1,1,3

## Data Cleaned and Saved